Requirements

- Python 3.x

- requests (or similar) for API calls

- SQLAlchemy (or another ORM / direct sqlite3)

- A modern browser to view the HTML output


requests~=2.32.5
SQLAlchemy~=2.0.43
python-dotenv~=1.1.1